@{
    ViewData["Title"] = "Home Page";
}

<h1>All Remedies:</h1>

<ol>
@foreach (Remedy remedy in Model)
{
    <ul>
        <li>ID: @remedy.RemedyId</li>
        <li>Name: @remedy.Name</li>
        <li>Details: @remedy.Details</li>
        <li>Ailment: @remedy.Ailment</li>
        <ul>
          @foreach (var join in Model.Categories)
          {
            <li>@join.Category.Name</li>
          }
        </ul>
        <li>Ingredients: @remedy.Ingredients</li>
    </ul>
    <a href="/remedies/Details/@(remedy.RemedyId)"><p>View Details</p></a>
    <br>
}
</ol>